<mat-toolbar>
  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Electronics<mat-icon>arrow_drop_down</mat-icon>
    </p>
    <div class="dropdown-content">
      <a href="#"> Mobiles</a>
      <a href="#"> Mobiles Accessories</a>
      <a href="#"> Smart Wearable Tech</a>
      <a href="#"> Health Care Applications</a>
      <a href="#"> Laptops</a>
      <a href="#"> Camera</a>
      <a href="#"> Tablets</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      TVs & Appliances<mat-icon>arrow_drop_down</mat-icon>
    </p>
    <div class="dropdown-content">
      <a href="#"> Television</a>
      <a href="#"> Shop by Screen Size</a>
      <a href="#"> Kitchen Appliances</a>
      <a href="#"> Healthy Living Applications</a>
      <a href="#"> Washing Machine</a>
      <a href="#"> Top Brands</a>
      <a href="#"> Air Conditioners</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Men<mat-icon>arrow_drop_down</mat-icon>
    </p>
    <div class="dropdown-content">
      <a href="#"> Footwear</a>
      <a href="#"> Men's Grooming</a>
      <a href="#"> Clothing</a>
      <a href="#"> Ethnic wear</a>
      <a href="#"> Accessories</a>
      <a href="#"> Featured</a>
      <a href="#"> Smart Brands</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Women<mat-icon>arrow_drop_down</mat-icon>
    </p>
    <div class="dropdown-content">
      <a href="#"> Sarees</a>
      <a href="#"> Ethnic Bottoms</a>
      <a href="#"> Ethnic Wear</a>
      <a href="#"> Women Western & Maternity Wear</a>
      <a href="#"> Lingerie & Sleepwear</a>
      <a href="#"> Jewellary</a>
      <a href="#"> Accessories</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Baby & Kids<mat-icon>arrow_drop_down</mat-icon>
    </p>
    <div class="dropdown-content">
      <a href="#"> Mobiles</a>
      <a href="#"> Mobiles Accessories</a>
      <a href="#"> Smart Wearable Tech</a>
      <a href="#"> Health Care Applications</a>
      <a href="#"> Laptops</a>
      <a href="#"> Camera</a>
      <a href="#"> Tablets</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Home & Furniture<mat-icon>arrow_drop_down</mat-icon>
    </p>
    <div class="dropdown-content">
      <a href="#"> Mobiles</a>
      <a href="#"> Mobiles Accessories</a>
      <a href="#"> Smart Wearable Tech</a>
      <a href="#"> Health Care Applications</a>
      <a href="#"> Laptops</a>
      <a href="#"> Camera</a>
      <a href="#"> Tablets</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Sports,Books & More<mat-icon>arrow_drop_down</mat-icon>
    </p>
    <div class="dropdown-content">
      <a href="#"> Mobiles</a>
      <a href="#"> Mobiles Accessories</a>
      <a href="#"> Smart Wearable Tech</a>
      <a href="#"> Health Care Applications</a>
      <a href="#"> Laptops</a>
      <a href="#"> Camera</a>
      <a href="#"> Tablets</a>
    </div>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Flights
    </p>
  </div>

  <div class="dropdown">
    <p class="dropbtn" style="color: rgb(100, 98, 98); font-size: 13px">
      Offer Zone
    </p>
  </div>
</mat-toolbar>
