<div class="sale">
  <div class="img1">
    <img src="../../../../../assets/sale.png" alt="" />
  </div>
  <div class="img2">
    <img src="../../../../../assets/sbi.jpg" alt="" />
  </div>
</div>
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../../assets/1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../../../../assets/2.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../../../../assets/3.PNG" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../../../../assets/4.PNG" class="d-block w-100" alt="..." />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="prev"
  >
    <div class="white">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
